@use "./variables/colors.scss";
@use "./variables/fonts.scss";
@use "./variables/paddings.scss";
@use "./variables/breakpoints.scss";
@use "./variables/spacings.scss";
@use "./mixins/mixinFonts.scss";
@use "./mixins/mixinDisplayFlex.scss";

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-size: 62.5%;
  font-family:
    fonts.$main-font,
    -apple-system,
    sans-serif;
  color: colors.$grayscale-color-250;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background: colors.$grayscale-color-00;
}

::-webkit-scrollbar-thumb {
  background: colors.$grayscale-color-50;

  border-radius: 10rem;
}

body {
  background-color: colors.$background-color-00;
}

main {
  padding: 4rem paddings.$padding-display-xs;
}

section {
  @include mixinDisplayFlex.columnCenterCenter;
  row-gap: spacings.$spacing-lg;

  padding: 7.2rem 0;

  width: 100%;
}

a {
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
}

h1 {
  @include mixinFonts.H1-Small;
}

h2 {
  @include mixinFonts.H2-Small;
}

h3 {
  @include mixinFonts.H3-Small;
}

h4 {
  @include mixinFonts.H4-Small;
}

p {
  @include mixinFonts.P-Small;
}

small {
  @include mixinFonts.TextSmall-Small;
}

@media (min-width: breakpoints.$breakpoint-sm) {
  main {
    padding: 4rem paddings.$padding-display-sm;
  }
}

@media (min-width: breakpoints.$breakpoint-md) {
  main {
    padding: 4rem paddings.$padding-display-md;
  }

  h1 {
    @include mixinFonts.H1-Medium;
  }

  h2 {
    @include mixinFonts.H2-Medium;
  }

  h3 {
    @include mixinFonts.H3-Medium;
  }

  h4 {
    @include mixinFonts.H4-Medium;
  }

  p {
    @include mixinFonts.P-Medium;
  }

  small {
    @include mixinFonts.TextSmall-Medium;
  }
}

@media (min-width: breakpoints.$breakpoint-lg) {
  main {
    padding: 4rem paddings.$padding-display-lg;
  }

  h1 {
    @include mixinFonts.H1-Large;
  }

  h2 {
    @include mixinFonts.H2-Large;
  }

  h3 {
    @include mixinFonts.H3-Large;
  }

  h4 {
    @include mixinFonts.H4-Large;
  }

  p {
    @include mixinFonts.P-Large;
  }

  small {
    @include mixinFonts.TextSmall-Large;
  }
}

@media (min-width: breakpoints.$breakpoint-xl) {
  main {
    padding: 4rem paddings.$padding-display-xl;
  }
}
