@use "../../styles/variables/colors.scss";
@use "../../styles/variables/paddings.scss";
@use "../../styles/variables/breakpoints.scss";
@use "../../styles/variables/spacings.scss";
@use "../../styles/mixins/mixinDisplayFlex.scss";

.footer {
  padding: 2.4rem paddings.$padding-display-xs 4rem paddings.$padding-display-xs;

  @include mixinDisplayFlex.columnCenterCenter;
  row-gap: spacings.$spacing-md;

  img {
    height: 3rem;
    width: auto;
  }
}

.footer__logo-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.social-media {
  display: flex;
  column-gap: spacings.$spacing-sm;

  a {
    @include mixinDisplayFlex.columnCenterCenter;
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;

    * {
      color: colors.$grayscale-color-100;
    }
  }
}

.footer__divisor {
  height: 0.2rem;
  width: 100%;

  background-color: colors.$grayscale-color-00;
}

.anchors-copyright {
  @include mixinDisplayFlex.rowCenterCenter;

  width: 100%;

  .anchors {
    display: none;
  }

  small {
    color: colors.$grayscale-color-100;
  }
}

@media (min-width: breakpoints.$breakpoint-sm) {
  .footer {
    padding: 2.4rem paddings.$padding-display-sm 4rem
      paddings.$padding-display-sm;
  }

  .anchors-copyright {
    justify-content: space-between;

    .anchors {
      @include mixinDisplayFlex.rowCenterCenter;
      column-gap: spacings.$spacing-sm;
      width: auto;
    }
  }
}

@media (min-width: breakpoints.$breakpoint-md) {
  .footer {
    padding: 2.4rem paddings.$padding-display-md 4rem
      paddings.$padding-display-md;
  }
}

@media (min-width: breakpoints.$breakpoint-lg) {
  .footer {
    padding: 2.4rem paddings.$padding-display-lg 4rem
      paddings.$padding-display-lg;
  }
}

@media (min-width: breakpoints.$breakpoint-xl) {
  .footer {
    padding: 2.4rem paddings.$padding-display-xl 4rem
      paddings.$padding-display-xl;
  }
}
