@use "../../styles/variables/colors.scss";
@use "../../styles/variables/breakpoints.scss";
@use "../../styles/variables/spacings.scss";
@use "../../styles/mixins/mixinDisplayFlex.scss";

.contacts__title {
  color: colors.$branding-color-250;
}

.contacts__card-area {
  @include mixinDisplayFlex.columnCenterCenter;
  gap: spacings.$spacing-sm;

  width: 100%;
}

@media (min-width: breakpoints.$breakpoint-sm) {
  .contacts__card-area {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
