@use "../variables/colors.scss";
@use "../variables/borderRadius.scss";
@use "../variables/shadows.scss";
@use "../mixins/mixinFonts.scss";
@use "../variables/breakpoints.scss";

.anchor {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  border: none;

  color: colors.$grayscale-color-100;

  @include mixinFonts.TextSmall-Small;

  &:hover {
    color: colors.$grayscale-color-200;
  }

  a {
    width: auto;
  }
}

@media (min-width: breakpoints.$breakpoint-md) {
  .anchor {
    @include mixinFonts.TextSmall-Medium;
  }
}

@media (min-width: breakpoints.$breakpoint-lg) {
  .anchor {
    @include mixinFonts.TextSmall-Large;
  }
}
