@use "../variables/colors.scss";
@use "../variables/breakpoints.scss";
@use "../variables/fonts.scss";
@use "../variables/spacings.scss";
@use "../mixins/mixinFonts.scss";
@use "../mixins/mixinDisplayFlex.scss";

img {
  width: 100%;
  height: auto;
}

.main-banner__apresentation {
  @include mixinDisplayFlex.columnCenterCenter;
  row-gap: spacings.$spacing-lg;

  width: 100%;
}

.apresentation {
  @include mixinDisplayFlex.columnCenterCenter;
  row-gap: spacings.$spacing-xs;

  text-align: center;

  h1 {
    color: colors.$branding-color-250;
  }

  .comment-subtitle {
    color: colors.$grayscale-color-150;
  }
}

.buttons-area {
  @include mixinDisplayFlex.columnCenterCenter;
  row-gap: spacings.$spacing-sm;

  width: 100%;
}

@media (min-width: breakpoints.$breakpoint-lg) {
  .main-banner {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  img {
    width: 40%;
  }

  .main-banner__apresentation {
    width: auto;
  }

  .buttons-area {
    @include mixinDisplayFlex.rowCenterCenter;
    column-gap: spacings.$spacing-sm;

    width: auto;
  }
}
