@use "../variables/colors.scss";
@use "../variables/spacings.scss";
@use "../mixins/mixinDisplayFlex.scss";

.technology-section__title {
  color: colors.$branding-color-250;
}

.technology-section__cards-area {
  @include mixinDisplayFlex.rowCenterCenter;
  flex-wrap: wrap;
  gap: spacings.$spacing-sm;

  width: 100%;
}
