@use "../../styles/variables/colors.scss";
@use "../../styles/variables/spacings.scss";
@use "../../styles/variables/paddings.scss";

.experiences-card {
  display: flex;
  flex-direction: column;
  gap: spacings.$spacing-sm;

  background-color: colors.$background-color-50;

  border-radius: 0.8rem;

  padding: paddings.$padding-display-xs;

  width: 100%;
}

.experiences-card__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  width: 100%;
}

.top-content__logo-role {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: spacings.$spacing-sm;

  img {
    width: 3.2rem;
    height: 3.2rem;
  }

  h4 {
    font-weight: 600;
  }
}

.experiences-card__line-divisor {
  border: 0.1rem solid colors.$background-color-00;
}

.experiences-card__bottom-content {
  display: flex;
  flex-direction: column;
  row-gap: spacings.$spacing-xs;
}

.bottom-content__company {
  color: colors.$grayscale-color-200;
}

.bottom-content__date {
  color: colors.$grayscale-color-150;
}

.bottom-content__skills-tags {
  display: flex;
  align-items: center;
  gap: spacings.$spacing-xs;
  flex-wrap: wrap;

  width: 100%;
}

.skills-tags {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: spacings.$spacing-xs;

  padding: 0.4rem 1.2rem;

  border-radius: 10rem;

  background-color: colors.$background-color-00;

  border: 1px solid colors.$branding-color-00;

  p {
    font-size: 1.4rem;
    font-weight: 600;

    color: colors.$grayscale-color-150;
  }
}
