@use "../../styles/variables/colors.scss";
@use "../../styles/variables/borderRadius.scss";
@use "../../styles/variables/breakpoints.scss";
@use "../../styles/mixins/mixinDisplayFlex.scss";
@use "../../styles/variables/spacings.scss";

.technology-cards {
  @include mixinDisplayFlex.columnCenterCenter;
  row-gap: spacings.$spacing-sm;

  width: 100%;

  .thumbnail {
    @include mixinDisplayFlex.columnCenterCenter;

    width: 100%;

    background-color: colors.$background-color-50;

    padding: 1.6rem 0.4rem;

    border: 0.1rem solid colors.$background-color-50;

    border-radius: borderRadius.$border-radius-sm;

    img {
      height: 6rem;
      width: auto;
    }
  }

  &:hover {
    .thumbnail {
      border: 0.1rem solid colors.$branding-color-00;
    }
  }
}
