@use "../../styles/variables/borderRadius.scss";
@use "../../styles/variables/colors.scss";
@use "../../styles/variables/breakpoints.scss";
@use "../../styles/variables/spacings.scss";
@use "../../styles/mixins/mixinDisplayFlex.scss";

.contact-cards {
  @include mixinDisplayFlex.columnCenterCenter;
  row-gap: spacings.$spacing-sm;

  width: 100%;

  cursor: pointer;

  &:hover {
    .contact-cards__thumbnail {
      border: 0.1rem solid colors.$branding-color-00;
    }
  }
}

.contact-cards__thumbnail {
  width: 100%;

  padding: 2.4rem 0;

  background-color: colors.$background-color-50;

  border-radius: borderRadius.$border-radius-sm;
  border: 0.1rem solid colors.$background-color-50;

  @include mixinDisplayFlex.columnCenterCenter;

  * {
    width: 40%;
    height: 40%;
  }
}

@media (min-width: breakpoints.$breakpoint-sm) {
  .contact-cards {
    width: calc((100% / 3) - ((1.6rem * 2) / 3));
  }
}
